@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:900);

#name{
  font-size: 150px;
  padding: 10px;
  text-shadow: 7px 4px 3px rgba(144, 150, 150, 1);
  font-family: 'Maven Pro', sans-serif;

}

body{
    background-image: url(../images/wigglesbeach.jpg);
    background-size: cover;
}

header{
    padding: 15px;
    color: red;
    font-family: 'Just Me Again Down Here', cursive;
}

footer{
    border: 5px double red;
    padding: 15px;
    color: red;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 60px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px green;
}
