{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules"
  ],
  "rules": {
    "declaration-block-properties-order": "alphabetical",
    "selector-max-specificity": "0,1,0"
  }
}
