
<div id="carousel-div" data-ride="carousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="ex1" data-slide-to="0" class="active"></li>
    <li data-target="ex1" data-slide-to="1"></li>
    <li data-target="ex1" data-slide-to="2"></li>
  </ol>
  <div role="listbox" class="carousel-inner">
    <div class="row item active">
      <div class="col-md-9"><img src="assets/chismosas.png" alt="Chismosas Chat App"></div>
      <div class="col-md-3">
        <h1>Chismosas</h1>
        <p>website: http://erinpagemd.github.io/chismosas</p>
        <p>repo: https://github.com/erinpagemd/chismosas</p>
        <p>stack: javascript, jquery, firebase, json, html, css, bootstrap</p>
        <p>description: Messaging app with Firebase live reload. Bootstrap for minimal styling.</p>
      </div>
    </div>
    <div class="row item">
      <div class="col-md-9"><img src="assets/nerdTree.png" alt="Nerdtree Dating App"></div>
      <div class="col-md-3">
        <h1>NerdTree</h1>
        <p>website: http://erinpagemd.github.io/nerd-tree</p>
        <p>repo: https://github.com/erinpagemd/nerd-tree</p>
        <p>stack: javascript, lodash, jquery, firebase, json, html, css, bootstrap</p>
        <p>description: Basic CRUD app with login. Firebase login, create new account, and logout. Using Firebase requests used for retrieving, posting, deleting, and modifying data. Bootstrap for minimal styling.</p>
      </div>
    </div>
    <div class="row item">
      <div class="col-md-9"><img src="assets/littleBlackBook.png" alt="LittleBlackBook Address Book App"></div>
      <div class="col-md-3">
        <h1>LittleBlackBook</h1>
        <p>website: http://erinpagemd.github.io/little-black-book</p>
        <p>repo: https://github.com/erinpagemd/little-black-book</p>
        <p>stack: javascript, jquery, firebase, json, html, css, foundation, mocha, chai, unit-testing</p>
        <p>description: Basic CRUD app with login. Firebase login, create new account, and logout. GET, POST, DELETE http requests. Foundation for minimal styling. First crack at logins and user flows. Light test suite with mocha and chai.</p>
      </div>
    </div>
  </div>
</div>