
<div id="carousel-div">
  <div class="row">
    <h1>Projects</h1>
    <div class="row">
      <div ng-mouseover="hovering.hor=true" ng-mouseleave="hovering.hor=false" class="img-box"><img ng-hide="hovering.hor" src="assets/images/hor.png" alt="Hack Tennessee 7 Project"><a ng-show="hovering.hor" ng-click="gotoHor()" class="hovering-info">
          <h3>Human or Robot</h3>
          <h4>Hack Tennessee 7</h4>
          <h4>AngularJS, Gulp, Bootstrap, Git, Sass, Etc.  </h4></a></div>
      <div ng-mouseover="hovering.appchiever=true" ng-mouseleave="hovering.appchiever=false" class="img-box"><img ng-hide="hovering.appchiever" src="assets/appchiever.png" alt="NSS Front End Capstone"><a ng-show="hovering.appchiever" ng-click="gotoAppchiever()" class="hovering-info">
          <h3>Appchiever</h3>
          <h4>NSS Front End Capstone</h4>
          <h4>AngularJS, Gulp, Bootstrap, Git, Sass, Firebase, etc.</h4></a></div>
      <div ng-mouseover="hovering.chismosas=true" ng-mouseleave="hovering.chismosas=false" class="img-box"><img ng-hide="hovering.chismosas" src="assets/chismosas.png" alt="Chismosas Chat App"><a ng-show="hovering.chismosas" ng-click="gotoChismosas()" class="hovering-info">
          <h3>Chismosas</h3>
          <h4>Chat App</h4>
          <h4>Firebase, Bootstrap, jQuery, etc.</h4></a></div>
      <div ng-mouseover="hovering.nerd=true" ng-mouseleave="hovering.nerd=false" class="img-box"><img ng-hide="hovering.nerd" src="assets/nerdTree.png" alt="Nerdtree Dating App"><a ng-show="hovering.nerd" ng-click="gotoNerd()" class="hovering-info">
          <h3>NerdTree</h3>
          <h4>Dating App</h4>
          <h4>Firebase, Bootstrap, Javascript</h4></a></div>
      <div ng-mouseover="hovering.recycle=true" ng-mouseleave="hovering.recycle=false" class="img-box"><img ng-hide="hovering.recycle" src="assets/nash-recycle.png" alt="Nashville Recycle Centers"><a ng-show="hovering.recycle" ng-click="gotoRecycle()" class="hovering-info">
          <h3>Nashville Recycle Centers</h3>
          <h4>Opensource Project</h4>
          <h4>REST, jQuery, Javascript</h4></a></div>
      <div ng-mouseover="hovering.book=true" ng-mouseleave="hovering.book=false" class="img-box"><img ng-hide="hovering.book" src="assets/littleBlackBook.png" alt="LittleBlackBook Address Book App"><a ng-show="hovering.book" ng-click="gotoBook()" class="hovering-info">
          <h3>Little Black Book</h3>
          <h4>Address Book App</h4>
          <h4>Firebase, Bootstrap, Javascript</h4></a></div>
      <div ng-mouseover="hovering.battle=true" ng-mouseleave="hovering.battle=false" class="img-box"><img ng-hide="hovering.battle" src="assets/battle-sipps.png" alt="Battle Sipps Multi-player Game"><a ng-show="hovering.battle" ng-click="gotoBattle()" class="hovering-info">
          <h3>Battle Sipps</h3>
          <h4>Battle Ship Multiplayer Game</h4>
          <h4>Firebase, Bootstrap, Javascript, jQuery</h4></a></div>
      <div ng-mouseover="hovering.won=true" ng-mouseleave="hovering.won=false" class="img-box"><img ng-hide="hovering.won" src="assets/game-won.png" alt="Tic Tac Toe Multi-player Game"><a ng-show="hovering.won" ng-click="gotoWon()" class="hovering-info">
          <h3>Game Won</h3>
          <h4>2 Player Tic Tac Toe Game</h4>
          <h4>Firebase, Bootstrap, Javascript, jQuery</h4></a></div>
      <div ng-mouseover="hovering.honey=true" ng-mouseleave="hovering.honey=false" class="img-box"><img ng-hide="hovering.honey" src="assets/honey-dew.png" alt="To-Do App"><a ng-show="hovering.honey" ng-click="gotoHoney()" class="hovering-info">
          <h3>Honey Dew</h3>
          <h4>To-Do App</h4>
          <h4>Bootstrap, Firebase, Unit Testing, Javascript</h4></a></div>
      <div ng-mouseover="hovering.stock=true" ng-mouseleave="hovering.stock=false" class="img-box"><img ng-hide="hovering.stock" src="assets/stock-market.png" alt="Stock Market App"><a ng-show="hovering.stock" ng-click="gotoStock()" class="hovering-info">
          <h3>Stock Market App</h3>
          <h4>NSS Front End Project Using Market On Demand api</h4>
          <h4>Foundation, REST, JSON, Firebase, Javascript</h4></a></div>
      <div ng-mouseover="hovering.push=true" ng-mouseleave="hovering.push=false" class="img-box"><img ng-hide="hovering.push" src="assets/push-product.png" alt="Push Product"><a ng-show="hovering.push" ng-click="gotoPush()" class="hovering-info">
          <h3>Push Product</h3>
          <h4>Exercises in Javascript</h4>
          <h4>Pure CSS Framework, Javascript, jQuery</h4></a></div>
    </div>
  </div>
  <div id="hor-div" class="row project-div">
    <h2>Hack Tennessee 7 Project: Human or Robot</h2>
    <div class="row">
      <div class="video-container">
        <video loop poster="" autoplay muted>
          <source src="assets/videos/hackTN.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack: </h4>
          <p>angularjs, gulp, jade, bootstrap, git, sass, atom, lodash</p>
        </div>
        <div class="project-info">
          <h4>Skill Level: </h4>
          <p>Intermediate. Responsible for front-end design and development.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="project-info">
          <h4>Description: </h4>
          <p>Made over a weekend at Hack Tennessee 7. Team members: John Liu and Dan Burger. Each game is a sample of 5 questions from the factory. Player chooses 'human' or 'robot' by clicking on a button. A modal pops open that tells the correct answer and some additional information about the picture. Eventually would like to be saving the choices people make. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="project-info">
        <h4>Website: <a href="https://hacktennessee7.github.io/HumanOrRobot">https://hacktennessee7.github.io/HumanOrRobot</a></h4>
      </div>
      <div class="project-info">
        <h4>Repo: <a href="https://github.com/HackTennessee7/HumanOrRobot">https://github.com/HackTennessee7/HumanOrRobot   </a></h4>
      </div>
    </div>
  </div>
  <div id="appchiever" class="row project-div">
    <h2>Appchiever</h2>
    <div class="row">
      <div class="img-container"><img src="assets/appchiever.png" alt="Chismosas Chat App"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack: </h4>
          <p>angularjs, firebase, gulp, jade, bootstrap, git, sass, atom, angularFire, lodash</p>
        </div>
        <div class="project-info"> 
          <h4>Skill Level: </h4>
          <p>Capstone project for Front-End course at Nashville Software School.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="project-info">
          <h4>Description: </h4>
          <p>App for high school students to collect and store their achievements for college applications. Looped a video on the homepage. OAuth with Google. Login with AngularFire Auth Object. CRUD app using AngularFire arrays and objects. Bootstrap for styling and modals. Routing in anguarjs with Angular UI-Router. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="project-info">
        <h4>Website: <a href="https://appchiever.firebaseapp.com/#/">https://appchiever.firebaseapp.com/#/</a></h4>
      </div>
      <div class="project-info">
        <h4>Repo: <a href="https://github.com/erinpagemd/ng-appchiever">https://github.com/erinpagemd/ng-appchiever    </a></h4>
      </div>
    </div>
  </div>
  <div id="chismosas" class="row project-div">
    <h2>Chismosas</h2>
    <div class="row">
      <div class="img-container"><img src="assets/chismosas.png" alt="Chismosas Chat App"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack: </h4>
          <p>javascript, jquery, firebase, json, html, css, bootstrap</p>
        </div>
        <div class="project-info">
          <h4>Skill Level:</h4>
          <p>Chat App assignment during NSS Front-End Course</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="project-info">
          <h4>Description: </h4>
          <p>Messaging app with Firebase live reload. Bootstrap for minimal styling.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="project-info">
        <h4>Website: <a href="http://erinpagemd.github.io/chismosas">http://erinpagemd.github.io/chismosas</a></h4>
      </div>
      <div class="project-info">
        <h4>Repo: <a href="https://github.com/erinpagemd/chismosas">https://github.com/erinpagemd/chismosas</a></h4>
      </div>
    </div>
  </div>
  <div id="nerd" class="row project-div">
    <h2>NerdTree</h2>
    <div class="row">
      <div class="img-container"><img src="assets/nerdTree.png" alt="Nerdtree Dating App"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack:</h4>
          <p>javascript, lodash, jquery, firebase, json, html, css, bootstrap</p>
        </div>
        <div class="project-info">
          <h4></h4>
          <p>Skill Level: Dating app assignment at NSS Front-End Course</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="project-info">
          <h4></h4>
          <p>Description: Basic CRUD app with login. Firebase login, create new account, and logout. Using Firebase requests used for retrieving, posting, deleting, and modifying data. Bootstrap for minimal styling.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="project-info">
        <h4>Website: <a href="http://erinpagemd.github.io/nerd-tree">http://erinpagemd.github.io/nerd-tree</a></h4>
      </div>
      <div class="project-info">
        <h4>Repo: <a href="https://github.com/erinpagemd/nerd-tree">https://github.com/erinpagemd/nerd-tree</a></h4>
      </div>
    </div>
  </div>
  <div id="recycle" class="row project-div">
    <h2>Nashville Recycle Centers</h2>
    <div class="row">
      <div class="img-container"><img src="assets/nash-recycle.png" alt="Nashville Recycle Centers"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack:</h4>
          <p>javascript, npm, grunt, jquery, lodash, html, jade, css</p>
        </div>
        <div class="project-info">
          <h4>Skill Level:</h4>
          <p>Personal project during the beginning of Front-End NSS course.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="project-info">
          <h4>Description:</h4>
          <p>Use of the Nashville Open Data Portal. Writing an ajax call and appending to the DOM.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="project-info">
        <h4>Website: <a href="http://erinpagemd.github.io/nash-recycle-centers/">http://erinpagemd.github.io/nash-recycle-centers/</a></h4>
      </div>
      <div class="project-info">
        <h4>Repo: <a href="https://github.com/erinpagemd/nash-recycle-centers">https://github.com/erinpagemd/nash-recycle-centers</a></h4>
      </div>
    </div>
  </div>
  <div id="book" class="row project-div-other">
    <h2>Little Black Book </h2>
    <div class="row">
      <div class="col-md-6"><img src="assets/littleBlackBook.png" alt="LittleBlackBook Address Book App"></div>
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack:</h4>
          <p>javascript, jquery, firebase, json, html, css, foundation, mocha, chai, unit-testing</p>
        </div>
        <div class="project-info">
          <h4>Description:</h4>
          <p>Basic CRUD app with login. Firebase login, create new account, and logout. GET, POST, DELETE http requests. Foundation for minimal styling. First crack at logins and user flows. Light test suite with mocha and chai.</p>
        </div>
        <div class="project-info">
          <h4>Skill Level:</h4>
          <p>Address Book assignment during NSS Front-End Course</p>
        </div>
        <div class="project-info">
          <p>Website: <a href="http://erinpagemd.github.io/little-black-book">http://erinpagemd.github.io/little-black-book</a></p>
        </div>
        <div class="project-info">
          <p>Repo: <a href="https://github.com/erinpagemd/little-black-book">https://github.com/erinpagemd/little-black-book</a></p>
        </div>
      </div>
    </div>
  </div>
  <div id="battle" class="row project-div-other">
    <h2>Battle Sipps</h2>
    <div class="row">
      <div class="col-md-6"><img src="assets/battle-sipps.png" alt="Battle Sipps Multi-player Game"></div>
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack:</h4>
          <p>javascript, jquery, lodash, firebase, json, html, css, bootstrap</p>
        </div>
        <div class="project-info">
          <h4>Description:</h4>
          <p>2-player battlehip game using a game object that communicates back and forth with firebase. Play on 2 computers. Paired programming exercise with Brandon Howard, Molly Black, and Dotun Olusoga for Front End Dev session.z</p>
        </div>
        <div class="project-info">
          <h4>Skill Level:</h4>
          <p>Group Assignment for multiplayer game during NSS Front-End Course</p>
        </div>
        <div class="project-info">
          <p>Website: <a href="https://battlesipps.firebaseapp.com/">https://battlesipps.firebaseapp.com/</a></p>
        </div>
        <div class="project-info">
          <p>Repo: <a href="https://github.com/brayhoward/battle-ship">https://github.com/erinpagemd/little-black-book</a></p>
        </div>
      </div>
    </div>
  </div>
  <div id="won" class="row project-div-other">
    <h2>Game Won</h2>
    <div class="row">
      <div class="col-md-6"><img src="assets/game-won.png" alt="Tic Tac Toe Multi-player Game"></div>
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack:</h4>
          <p>javascript, jquery, firebase, json, html, css, bootstrap</p>
        </div>
        <div class="project-info">
          <h4>Description:</h4>
          <p>Tic-Tac-Toe game using a game object that communicates back and forth with firebase. Paired programming exercise with Brandon Howard for Front End Dev session. Used ScreenHero for off-site collaboration.</p>
        </div>
        <div class="project-info">
          <h4>Skill Level:</h4>
          <p>Group Assignment for multiplayer tic-tac-toe game during NSS Front-End Course</p>
        </div>
        <div class="project-info">
          <p>Website: <a href="https://game-won.firebaseapp.com/">https://game-won.firebaseapp.com/</a></p>
        </div>
        <div class="project-info">
          <p>Repo: <a href="https://github.com/brayhoward/game1">https://github.com/brayhoward/game1</a></p>
        </div>
      </div>
    </div>
  </div>
  <div id="honey" class="row project-div-other">
    <h2>Honey Dew</h2>
    <div class="row">
      <div class="col-md-6"><img src="assets/honey-dew.png" alt="To-Do App"></div>
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack:</h4>
          <p>javascript, jquery, firebase, json, html, css, bootstrap, mocha, karma, chai, unit-testing</p>
        </div>
        <div class="project-info">
          <h4>Description:</h4>
          <p>Basic CRUD app with login. Firebase login, create new account, and logout. GET, POST, DELETE http requests. Bootstrap for minimal styling. Build script and more advanced config settings. Test suite with mocha, chai, and karma.</p>
        </div>
        <div class="project-info">
          <h4>Skill Level:</h4>
          <p>Personal Project during Front-End NSS Course</p>
        </div>
        <div class="project-info">
          <p>Website: <a href="http://erinpagemd.github.io/to-do/">http://erinpagemd.github.io/to-do/</a></p>
        </div>
        <div class="project-info">
          <p>Repo: <a href="https://github.com/erinpagemd/to-do">https://github.com/erinpagemd/to-do</a></p>
        </div>
      </div>
    </div>
  </div>
  <div id="stock" class="row project-div-other">
    <h2>Stock Market App</h2>
    <div class="row">
      <div class="col-md-6"><img src="assets/stock-market.png" alt="Stock Market App"></div>
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack:</h4>
          <p>javascript, jquery, lodash, firebase, json, html, css, foundation</p>
        </div>
        <div class="project-info">
          <h4>Description:</h4>
          <p>v1.0.0 takes the user inputs of stock symbol and quantity, makes a get request to the markitondemand api and updates the dom. Next iteration is saving the portfolio to firebase. Made in NSS class with Allison Higginbotham.</p>
        </div>
        <div class="project-info">
          <h4>Skill Level:</h4>
          <p>Paired Programming project during Front-End Course of NSS</p>
        </div>
        <div class="project-info">
          <p>Website: <a href="http://higgintop.github.io/stockMarketApp/">http://higgintop.github.io/stockMarketApp/</a></p>
        </div>
        <div class="project-info">
          <p>Repo: <a href="https://github.com/higgintop/stockMarketApp">https://github.com/higgintop/stockMarketApp</a></p>
        </div>
      </div>
    </div>
  </div>
  <div id="push" class="row project-div-other">
    <h2>Push Product</h2>
    <div class="row">
      <div class="col-md-6"><img src="assets/push-product.png" alt="Push Product"></div>
      <div class="col-md-6">
        <div class="project-info">
          <h4>Stack:</h4>
          <p>javascript, jquery, html, css, pure</p>
        </div>
        <div class="project-info">
          <h4>Description:</h4>
          <p>Pushing items into an empty array in javascript. Use of PureCSS framework, HTML-Form</p>
        </div>
        <div class="project-info">
          <h4>Skill Level:</h4>
          <p>Personal project before NSS to practice javascript methods.Refactored CSS when learning about CSS Frameworks at Nashville Software School.</p>
        </div>
        <div class="project-info">
          <p>Website: <a href="http://erinpagemd.github.io/PushProduct/">http://erinpagemd.github.io/PushProduct/</a></p>
        </div>
        <div class="project-info">
          <p>Repo: <a href="https://github.com/erinpagemd/PushProduct">https://github.com/erinpagemd/PushProduct</a></p>
        </div>
      </div>
    </div>
  </div>
</div>