
<div id="community-div" class="row">
  <div class="community-main">
    <div class="row">
      <h1>Community Involvement</h1>
    </div>
    <div class="row community-container">
      <div class="col-xs-4 volunteer">
        <h2>Volunteer</h2>
        <div class="logo">
          <p>Barcamp 2013 Volunteer</p><a href="http://www.barcampnashville.org/bcn13/"><img src="assets/barcamp2013-logo.png" alt="Barcamp2013"></a>
        </div>
        <div class="logo">
          <p>Barcamp 2014 Planning Crew</p><a href="http://www.barcampnashville.org/bcn14/"><img src="assets/bcn14-logo.png" alt="Barcamp2014"></a>
        </div>
        <div class="logo">
          <p>Code for Nashville Storyteller</p><a href="http://www.codefornashville.org/"><img src="assets/cfn-logo.jpg" alt="Code for Nashville"></a>
        </div>
        <div class="logo">
          <p>Young Coders Day at WestEnd Middle School </p>
          <p>Lightening-Talk Speaker 2014 (Background Picture)</p>
        </div>
      </div>
      <div class="col-xs-4 groups">
        <h2>User Groups</h2>
        <div class="logo">
          <p>NashJS</p><a href="http://nashjs.org/"><img src="assets/nashjs-logo.png" alt="NashJS"></a>
        </div>
        <div class="logo">
          <p>PyNash</p><a href="http://pynash.org/"><img src="assets/py-logo.jpeg" alt="PyNash"></a>
        </div>
        <div class="logo">
          <p>Agile Nashville</p><a href="http://agilenashville.com/"><img src="assets/agilenashville-logo.png" alt="AgileNashville"></a>
        </div>
      </div>
      <div class="col-xs-4 hacks">
        <h2>Hacks</h2>
        <div class="logo">
          <p>HackNashville 4, 5, 6</p><a href="http://hacknashville.com/"><img src="assets/hn-logo.png" alt="HackNashville4"></a>
        </div>
        <div class="logo">
          <p>HackForChange 2014</p><a href="http://hackforchange.org/"><img src="assets/ndoch-logo.png" alt="HackForChange2014"></a>
        </div>
        <div class="logo">
          <p>Hack Tennessee 7</p><a href="http://hacktennessee.com/"><img src="assets/logos/hacktn.png" alt="HackTennessee"></a>
        </div>
      </div>
    </div>
  </div>
  
</div>