
<div id="community-div" class="row">
  <div class="community-main">
    <div class="row">
      <h1 class="label-main">Community Involvement</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <h2 class="label-div">Volunteer</h2>
    </div>
    <div class="row">
      <div id="bcn13" class="each">
        <p class="image-text">Barcamp 2013 Volunteer</p>
      </div>
      <div id="bcn14" class="each">
        <p class="image-text">Barcamp 2014 Planning Crew</p>
      </div>
      <div id="cfn" class="each">
        <p class="image-text">Code for Nashville Storyteller</p>
      </div>
      <div id="robotics" class="each"> 
        <p class="image-text">WestEnd Robitics      </p>
      </div>
      <div class="hacknash6 each">
        <p class="image-text">Hack Nashville 6</p>
      </div>
      <div class="hacktn each">
        <p class="image-text">Hack Tennessee 7</p>
      </div>
      <div id="young-coders" class="each">
        <p class="image-text">Young Coders Day 2014</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <h2 class="label-div">User Groups</h2>
    </div>
    <div class="row">
      <div id="agile" class="each">
        <p class="image-text">Agile Nashville</p>
      </div>
      <div id="ggd" class="each">
        <p class="image-text">Girl Geek Dinners</p>
      </div>
      <div class="each">
        <p class="image-text">Nashville MongoDB</p>
      </div>
      <div id="women" class="each">
        <p class="image-text">Nashville Women Programmers</p>
      </div>
      <div class="each">
        <p class="image-text">Nashville Ruby on Rails Beginners</p>
      </div>
      <div class="each">
        <p class="image-text">Code User Group Leadership</p>
      </div>
      <div id="nashjs" class="each">
        <p class="image-text">NashJS</p>
      </div>
      <div id="pynash" class="each">
        <p class="image-text">PyNash</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <h2 class="label-div">Hacks</h2>
    </div>
    <div class="row">
      <div class="hacknash4 each">
        <p class="image-text">Hack Nashville 4</p>
      </div>
      <div class="hacknash5 each">
        <p class="image-text">Hack Nashville 5</p>
      </div>
      <div class="hacknash6 each">
        <p class="image-text">Hack Nashville 6</p>
      </div>
      <div id="ndoch" class="each">
        <p class="image-text">Hack For Change 2014</p>
      </div>
      <div class="hacktn each">
        <p class="image-text">Hack Tennessee 7</p>
      </div>
    </div>
  </div>
</div>