
<div id="community-div" class="row">
  <div class="community-main">
    <div class="row">
      <h1 class="label-main">Community Involvement</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-4">
          <div id="bcn13" class="image-div">
            <p class="image-text">Barcamp 2013 Volunteer</p>
          </div>
        </div>
        <div class="col-md-4">
          <div id="cfn" class="image-div">
            <p class="image-text">Code for Nashville Storyteller</p>
          </div>
        </div>
        <div class="col-md-4">
          <div id="women" class="image-div">
            <p class="image-text">Nashville Women Programmers</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="bcn14" class="image-div">
          <p class="image-text">Barcamp 2014 Planning Crew</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div id="nashjs" class="image-div">
            <p class="image-text">NashJS</p>
          </div>
        </div>
        <div class="col-md-4">
          <div id="agile" class="image-div">
            <p class="image-text">Agile Nashville</p>
          </div>
        </div>
        <div class="col-md-4">
          <div id="pynash" class="image-div">
            <p class="image-text">PyNash</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="hacknash4" class="image-div">
            <p class="image-text">Hack Nashville 4</p>
          </div>
        </div>
        <div class="col-md-6">
          <div id="hacknash5" class="image-div">
            <p class="image-text">Hack Nashville 5  </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="hacknash6" class="image-div">
            <p class="image-text">Hack Nashville 6</p>
          </div>
        </div>
        <div class="col-md-6">
          <div id="hacktn" class="image-div">
            <p class="image-text">Hack Tennessee 7</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="rorbeg" class="image-div">
          <p class="image-text">Nashville Ruby on Rails Beginners</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">     
          <div id="ndoch" class="image-div">
            <p class="image-text">Hack For Change 2014</p>
          </div>
        </div>
        <div class="col-md-4">
          <div id="ggd" class="image-div">
            <p class="image-text">Girl Geek Dinners</p>
          </div>
        </div>
        <div class="col-md-4">
          <div id="robotics" class="image-div">
            <p class="image-text">WestEnd Robitics</p>
          </div>
        </div>
      </div>
      <div class="row">   
        <div id="young-coders" class="image-div">
          <p class="image-text">Young Coders Day 2014</p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>