
<div id="selfie-div" class="row">
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6 selfie-right">
      <div class="technology-icons">
        <h1>Technologies I love</h1>
        <div class="logo"><a href="https://angularjs.org/"><img src="assets/logos/angular-logo.png" alt="AngularJS"></a></div>
        <div class="logo"><a href="https://www.firebase.com/"><img src="assets/logos/firebase-logo.png" alt="Firebase"></a></div>
        <div class="logo"><a href="http://gulpjs.com/"><img src="assets/logos/gulp-logo.png" alt="Gulp"></a></div>
        <div class="logo"><a href="http://jade-lang.com/"><img src="assets/logos/jade-logo.png" alt="Jade"></a></div>
        <div class="logo"><a href="http://getbootstrap.com/"><img src="assets/logos/bootstrap-logo.png" alt="Bootstrap"></a></div>
        <div class="logo"><a href="http://sass-lang.com/"><img src="assets/logos/sass-logo.png" alt="Sass"></a></div>
        <div class="logo"><a href="https://atom.io/"><img src="assets/logos/atom-logo.png" alt="Atom"></a></div>
        <div class="logo"><a href="https://www.firebase.com/docs/web/libraries/angular/"><img src="assets/logos/afire-logo.png" alt="AngularFire"></a></div>
        <div class="logo"><a href="http://jquery.com/"><img src="assets/logos/jquery-logo.png" alt="jQuery"></a></div>
      </div>
      <div class="social-media-icons">
        <h1>Where to find me</h1>
        <div class="logo"><a href="https://github.com/erinpagemd"><img src="assets/logos/github-logo.png" alt="Github"></a></div>
        <div class="logo"><a href="https://www.linkedin.com/in/erinpagemd"><img src="assets/logos/linkedin-logo.png" alt="LinkedIn"></a></div>
        <div class="logo"><a href="https://twitter.com/erinmpage"><img src="assets/logos/twitter-logo.png" alt="Twitter"></a></div>
      </div>
    </div>
  </div>
</div>