
<div id="title-div">
  <div class="major-div">
    <div class="jumbotron">
      <h1>Erin M Page  </h1>
      <h2>Web Application Engineer | Nashville, Tennessee </h2>
    </div>
  </div>
  <div id="who-div" class="container-fluid">
    <div class="row">
      <div class="col-md-6 who">
        <h2>Who I Am.</h2>
        <p>I am a web programmer living in Music City. I am a transplanted Texan, a mother of 2 teenage boys, a U.S. Army Veteran.</p>
        <p>I graduated from Texas A&M University- Corpus Christi with a Bachelor of Science in Microbiology with a minor in Chemistry. Afterwards, I briefly attended the University of Texas Health Science Center at San Antonio pursuing a degree in medicine. There I found a love of the human anatomy and seeing the world through a scientific eye. Afterwards, I pursued a Master's Degree in Accounting, worked with several startups, all while raising two amazing boys at home. I entered the world of technology via the recruiting industry. When I started mingling and networking with software professionals, I knew I had found my flock. </p>
        <p>I am a "go" kind of person: go getter, go-to, go team, and go-go-gadget-whatever! I love organizing all the things, philosophical discussions, and . Outside of work I enjoy family, learning, and travel.</p>
      </div>
      <div class="col-md-6 who">
        <h2>What I Do.</h2>
        <p>I just finished a 6 month software bootcamp in Nashville. I learned Frontend and Backend Development. </p>
        <p>Backend Development: Ruby, Rails, SQLite, Postgres</p>
        <p>Frontend Development: HTML, CSS, Javascript, jQuery, AngularJS. So far, in my short time as a programmer, I have found that I find particular enjoyment in javascript development.</p>
        <p>In my previous experiences, I have found a satisfaction in discovering and implementing solutions. I am excited to now be doing just that with technology.</p>
        <p>Approach: Simplicity and Functionality. It is too easy for us to complicate our lives, why do so with our software?</p>
      </div>
    </div>
  </div>
  <div id="quote" class="container-fluid">
    <h3>"Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live." - John F. Woods</h3>
  </div>
</div>