
<div id="title-div" class="row">
  <div class="video-container">
    <div class="jumbotron">
      <h1>Erin M Page  </h1>
      <h2>Web Application Engineer | Nashville, Tennessee</h2>
    </div>
    <video loop poster="" autoplay muted>
      <source src="assets/appchiever_add-view.mp4" type="video/mp4">
    </video>
  </div>
  <div class="row minor-div">
    <h1>Hi! I'm Erin. I make web pages and stuff.</h1>
  </div>
  <div class="row minor-div">
    <button class="btn btn-success btn-lg">Check out my portfolio</button>
    <button class="btn btn-info btn-lg">See me in action in the community</button>
    <button class="btn btn-warning btn-lg">Get in touch with me</button>
  </div>
</div>