
<div id="volunteer-div" class="row">
  <div class="col-xs-4 volunteering">
    <h1>Volunteer</h1>
    <p>Barcamp 2013 Volunteer
      <div class="logo"><a href="http://www.barcampnashville.org/bcn13/"><img src="assets/barcamp2013-logo.png" alt="Barcamp2013"></a></div>
    </p>
    <p>Barcamp 2014 Planning Crew
      <div class="logo"><a href="http://www.barcampnashville.org/bcn14/"><img src="assets/bcn14-logo.png" alt="Barcamp2014"></a></div>
    </p>
    <p>Code for Nashville Storyteller</p>
    <div class="logo"><a href="http://www.codefornashville.org/"><img src="assets/cfn-logo.jpg" alt="Code for Nashville"></a></div>
  </div>
  <div class="col-xs-4 groups">
    <h1>User Groups</h1>
    <p>NashJS
      <div class="logo"><img src="" alt="NashJS"></div>
    </p>
    <p>PyNash
      <div class="logo"><img src="" alt="PyNash"></div>
    </p>
  </div>
  <div class="col-xs-4 hacks">
    <h1>Hacks</h1>
    <p>HackNashville 4
      <div class="logo"><img src="" alt="HackNashville4"></div>
    </p>
    <p>HackNashville 5
      <div class="logo"><img src="" alt="HackNashville5"></div>
    </p>
    <p>HackNashville 6
      <div class="logo"><img src="" alt="HackNashville6"></div>
    </p>
    <p>HackForChange 2014
      <div class="logo"><img src="" alt="HackForChange2014"></div>
    </p>
  </div>
</div>