@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/******** first divs *********/
body {
  background-color: #111214;
}

.top_level {

  padding: 10% 0;
}

.second {
  background-color: lightgrey; /* this one will have the gradient */
  background-image: radial-gradient(circle, #313234, #111214)
}

/******** left and right divs *********/
.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}

/******** left content *********/
.identity {
  text-align: right;
  font-family: 'Open Sans Condensed', sans-serif;
}

.identity h1 {
  margin-bottom: 0;
  font-size: 4rem;
  color: #DB5EAB;
}

.identity h2 {
  margin-top: 0;
  font-size: 3rem;
  color: lightblue;
}

/******** right content *********/
.menu {
  text-align: left;
}

nav li {
  padding: 10px;
  list-style: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
  color: white;
}

img {
  max-width: 100%;
  height: 40px;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-size: 3rem;
}

a:visited {
  color: white;
}


/******** Float ClearFix *********/
.group:after {
  content: "";
  display: table;
  clear: both;
}
