
<div id="carousel-div">
  <div class="row">
    <h1>Projects</h1>
    <div ng-repeat="project in projects" class="projects">
      <div class="each-project">
        <div class="container-fluid">
          <div class="project-name">
            <div class="row">
              <h2>{{project.name}} : {{project.brief}}</h2>
            </div>
          </div>
          <div class="project-image">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div ng-show="project.image" class="image-or-video"><img ng-src="{{project.image}}"></div>
                <div ng-show="project.video" class="image-or-video">
                  <video loop poster="" autoplay muted>
                    <source ng-src="{{project.video}}" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
            <div class="project-stack">
              <div class="row">
                <h3>Technologies: {{project.stack}}</h3>
              </div>
            </div>
            <div class="project-links">
              <div class="row">
                <h4>See the site: <a href="{{project.website}}">{{project.website}}</a></h4>
              </div>
              <div class="row">
                <h4>See the code: <a href="{{project.repo}}">{{project.repo}}</a></h4>
              </div>
            </div>
            <div class="project-body">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <h3>Project Milestone:</h3>
                  <h4>{{project.level}}</h4>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  <h3>Project Description:</h3>
                  <h4>{{project.description}}</h4>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>