
<div id="carousel-div" data-ride="carousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#carousel-div" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-div" data-slide-to="1"></li>
    <li data-target="#carousel-div" data-slide-to="2"></li>
    <li data-target="#carousel-div" data-slide-to="3"></li>
    <li data-target="#carousel-div" data-slide-to="4"></li>
    <li data-target="#carousel-div" data-slide-to="5"></li>
    <li data-target="#carousel-div" data-slide-to="6"></li>
    <li data-target="#carousel-div" data-slide-to="7"></li>
    <li data-target="#carousel-div" data-slide-to="8"></li>
    <li data-target="#carousel-div" data-slide-to="9"></li>
  </ol>
  <div role="listbox" class="carousel-inner">
    <div class="row item active">
      <h1>Appchiever</h1>
      <div class="row">
        <div class="col-md-9"><img src="assets/appchiever.png" alt="Chismosas Chat App"></div>
        <div class="col-md-3">
          <h4>Stack: angularjs, firebase, gulp, jade, bootstrap, git, sass, atom, angularFire, lodash</h4>
          <h4>Description: App for high school students to collect and store their achievements for college applications. Looped a video on the homepage. OAuth with Google. Login with AngularFire Auth Object. CRUD app using AngularFire arrays and objects. Bootstrap for styling and modals. Routing in anguarjs with Angular UI-Router. </h4>
          <p>Skill Level: Capstone project for Front-End course at Nashville Software School.</p>
          <p>Website: <a href="https://appchiever.firebaseapp.com/#/">https://appchiever.firebaseapp.com/#/</a></p>
          <p>Repo: <a href="https://github.com/erinpagemd/ng-appchiever">https://github.com/erinpagemd/ng-appchiever    </a></p>
        </div>
      </div>
    </div>
    <div class="row item">
      <h1>Chismosas</h1>
      <div class="row">
        <div class="col-md-9"><img src="assets/chismosas.png" alt="Chismosas Chat App"></div>
        <div class="col-md-3">
          <h4>Stack: javascript, jquery, firebase, json, html, css, bootstrap</h4>
          <h4>Description: Messaging app with Firebase live reload. Bootstrap for minimal styling.</h4>
          <p>Skill Level: Chat App assignment during NSS Front-End Course</p>
          <p>Website: <a href="http://erinpagemd.github.io/chismosas">http://erinpagemd.github.io/chismosas</a></p>
          <p>Repo: <a href="https://github.com/erinpagemd/chismosas">https://github.com/erinpagemd/chismosas</a></p>
        </div>
      </div>
    </div>
    <div class="row item">
      <h1>NerdTree</h1>
      <div class="row">
        <div class="col-md-9"><img src="assets/nerdTree.png" alt="Nerdtree Dating App"></div>
        <div class="col-md-3">
          <h4>Stack: javascript, lodash, jquery, firebase, json, html, css, bootstrap</h4>
          <h4>Description: Basic CRUD app with login. Firebase login, create new account, and logout. Using Firebase requests used for retrieving, posting, deleting, and modifying data. Bootstrap for minimal styling.</h4>
          <p>Skill Level: Dating app assignment at NSS Front-End Course</p>
          <p>Website: <a href="http://erinpagemd.github.io/nerd-tree">http://erinpagemd.github.io/nerd-tree</a></p>
          <p>Repo: <a href="https://github.com/erinpagemd/nerd-tree">https://github.com/erinpagemd/nerd-tree</a></p>
        </div>
      </div>
    </div>
    <div class="row item">
      <h1>LittleBlackBook </h1>
      <div class="row">
        <div class="col-md-9"><img src="assets/littleBlackBook.png" alt="LittleBlackBook Address Book App"></div>
        <div class="col-md-3">
          <h4>Stack: javascript, jquery, firebase, json, html, css, foundation, mocha, chai, unit-testing</h4>
          <h4>Description: Basic CRUD app with login. Firebase login, create new account, and logout. GET, POST, DELETE http requests. Foundation for minimal styling. First crack at logins and user flows. Light test suite with mocha and chai.</h4>
          <p>Skill Level: Address Book assignment during NSS Front-End Course</p>
          <p>Website: <a href="http://erinpagemd.github.io/little-black-book">http://erinpagemd.github.io/little-black-book</a></p>
          <p>Repo: <a href="https://github.com/erinpagemd/little-black-book">https://github.com/erinpagemd/little-black-book</a></p>
        </div>
      </div>
    </div>
    <div class="row item">
      <h1>Battle Sipps</h1>
      <div class="row">
        <div class="col-md-9"><img src="assets/battle-sipps.png" alt="Battle Sipps Multi-player Game"></div>
        <div class="col-md-3">
          <h4>Stack: javascript, jquery, lodash, firebase, json, html, css, bootstrap</h4>
          <h4>Description: 2-player battlehip game using a game object that communicates back and forth with firebase. Play on 2 computers. Paired programming exercise with Brandon Howard, Molly Black, and Dotun Olusoga for Front End Dev session.z</h4>
          <p>Skill Level: Group Assignment for multiplayer game during NSS Front-End Course</p>
          <p>Website: <a href="https://battlesipps.firebaseapp.com/">https://battlesipps.firebaseapp.com/</a></p>
          <p>Repo: <a href="https://github.com/brayhoward/battle-ship">https://github.com/erinpagemd/little-black-book</a></p>
        </div>
      </div>
    </div>
    <div class="row item">
      <h1>Game Won</h1>
      <div class="row">
        <div class="col-md-9"><img src="assets/game-won.png" alt="Tic Tac Toe Multi-player Game"></div>
        <div class="col-md-3">
          <h4>Stack: javascript, jquery, firebase, json, html, css, bootstrap</h4>
          <h4>Description: Tic-Tac-Toe game using a game object that communicates back and forth with firebase. Paired programming exercise with Brandon Howard for Front End Dev session. Used ScreenHero for off-site collaboration.</h4>
          <p>Skill Level: Group Assignment for multiplayer tic-tac-toe game during NSS Front-End Course</p>
          <p>Website: <a href="https://game-won.firebaseapp.com/">https://game-won.firebaseapp.com/</a></p>
          <p>Repo: <a href="https://github.com/brayhoward/game1">https://github.com/brayhoward/game1</a></p>
        </div>
      </div>
    </div>
    <div class="row item">
      <h1>Honey Dew</h1>
      <div class="row">
        <div class="col-md-9"><img src="assets/honey-dew.png" alt="To-Do App"></div>
        <div class="col-md-3">
          <h4>Stack: javascript, jquery, firebase, json, html, css, bootstrap, mocha, karma, chai, unit-testing</h4>
          <h4>Description: Basic CRUD app with login. Firebase login, create new account, and logout. GET, POST, DELETE http requests. Bootstrap for minimal styling. Build script and more advanced config settings. Test suite with mocha, chai, and karma.</h4>
          <p>Skill Level: Personal Project during Front-End NSS Course</p>
          <p>Website: <a href="http://erinpagemd.github.io/to-do/">http://erinpagemd.github.io/to-do/</a></p>
          <p>Repo: <a href="https://github.com/erinpagemd/to-do">https://github.com/erinpagemd/to-do</a></p>
        </div>
      </div>
    </div>
    <div class="row item">
      <h1>Stock Market App</h1>
      <div class="row">
        <div class="col-md-9"><img src="assets/stock-market.png" alt="Stock Market App"></div>
        <div class="col-md-3">
          <h4>Stack: javascript, jquery, lodash, firebase, json, html, css, foundation</h4>
          <h4>Description: v1.0.0 takes the user inputs of stock symbol and quantity, makes a get request to the markitondemand api and updates the dom. Next iteration is saving the portfolio to firebase. Made in NSS class with Allison Higginbotham.</h4>
          <p>Skill Level: Paired Programming project during Front-End Course of NSS</p>
          <p>Website: <a href="http://higgintop.github.io/stockMarketApp/">http://higgintop.github.io/stockMarketApp/</a></p>
          <p>Repo: <a href="https://github.com/higgintop/stockMarketApp">https://github.com/higgintop/stockMarketApp</a></p>
        </div>
      </div>
    </div>
    <div class="row item">
      <h1>Nashville Recycle Centers</h1>
      <div class="row">
        <div class="col-md-9"><img src="assets/nash-recycle.png" alt="Nashville Recycle Centers"></div>
        <div class="col-md-3">
          <h4>Stack: javascript, npm, grunt, jquery, lodash, html, jade, css</h4>
          <h4>Description: Use of the Nashville Open Data Portal. Writing an ajax call and appending to the DOM.</h4>
          <p>Skill Level: Personal project during the beginning of Front-End NSS course.</p>
          <p>Website: <a href="http://higgintop.github.io/stockMarketApp/">http://higgintop.github.io/stockMarketApp/</a></p>
          <p>Repo: </p><a href="https://github.com/erinpagemd/nash-recycle-centers">https://github.com/erinpagemd/nash-recycle-centers</a>
        </div>
      </div>
    </div>
    <div class="row item">
      <h1>Push Product</h1>
      <div class="row">
        <div class="col-md-9"><img src="assets/push-product.png" alt="Push Product"></div>
        <div class="col-md-3">
          <h4>Stack: javascript, jquery, html, css, pure</h4>
          <h4>Description: Pushing items into an empty array in javascript. Use of PureCSS framework, HTML-Form</h4>
          <p>Skill Level: Personal project before NSS to practice javascript methods.Refactored CSS when learning about CSS Frameworks at Nashville Software School.</p>
          <p>Website: <a href="http://erinpagemd.github.io/PushProduct/">http://erinpagemd.github.io/PushProduct/</a></p>
          <p>Repo: <a href="https://github.com/erinpagemd/PushProduct">https://github.com/erinpagemd/PushProduct</a></p>
        </div>
      </div>
    </div>
  </div><a href="#carousel-div" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous</span></a><a href="#carousel-div" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next</span></a>
</div>