
<div class="nav-container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a ui-sref="home" class="navbar-brand"><i class="fa fa-trophy">&nbsp Erin M Page</i></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#title-div"><i class="fa fa-home">&nbsp; Home</i></a></li>
          <li><a href="#carousel-div"><i class="fa fa-briefcase">&nbsp; Portfolio</i></a></li>
          <li><a href="#selfie-div"><i class="fa fa-camera-retro">&nbsp; Selfie</i></a></li>
          <li><a href="#community-div"><i class="fa fa-beer">&nbsp; Community Activity</i></a></li>
          <li><a href="#form-div"><i class="fa fa-envelope-o">&nbsp; Contact Me!</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>