
<div id="selfie-div" class="row">
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6 selfie-right">
      <div class="technology-icons">
        <h1>Technologies I love</h1>
        <div class="logo"><img src="assets/angular-logo.png" alt="AngularJS"></div>
        <div class="logo"><img src="assets/firebase-logo.png" alt="Firebase"></div>
        <div class="logo"><img src="assets/gulp-logo.png" alt="Gulp"></div>
        <div class="logo"><img src="assets/jade-logo.png" alt="Jade"></div>
        <div class="logo"><img src="assets/bootstrap-logo.png" alt="Bootstrap"></div>
        <div class="logo"><img src="assets/sass-logo.png" alt="Sass"></div>
        <div class="logo"><img src="assets/atom-logo.png" alt="Atom"></div>
        <div class="logo"><img src="assets/afire-logo.png" alt="AngularFire"></div>
        <div class="logo"><img src="" alt="jQuery"></div>
      </div>
      <div class="social-media-icons">
        <h1>Where to find me</h1>
        <div class="logo"><img src="assets/github-logo.png" alt="Github"></div>
        <div class="logo"><img src="" alt="LinkedIn"></div>
        <div class="logo"><img src="" alt="Twitter"></div>
      </div>
    </div>
  </div>
</div>