
<div id="title-div" class="row">
  <div class="major-div">
    <div class="jumbotron">
      <h1>Erin M Page  </h1>
      <h2>Web Application Engineer | Nashville, Tennessee    </h2>
    </div>
  </div>
  <div class="row video-div">
    <div class="col-md-6 video-container">
      <video loop poster="" autoplay muted>
        <source src="assets/videos/appchiever_add-view.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-md-6 video-minor">
      <h1>Hi! I'm Erin. </h1>
      <h2>I make web pages and stuff.</h2>
    </div>
  </div>
  <div class="row minor-div"><a ui-sref="profile" class="btn btn-success btn-lg">Check out my portfolio</a><a ui-sref="community" class="btn btn-info btn-lg">See me in action in the community</a><a ui-sref="contact" class="btn btn-warning btn-lg">Get in touch with me</a></div>
</div>