doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='index.css' type='text/css')
    link(rel='shortcut icon' type='image/x-icon' href='assets/Trophy-gold.ico')
    title Erin M Page
  body
    include ./views/nav

    #title-div.row
      .jumbotron
        h1 Erin M Page
        h2 Javascript Engineer
        h3 Nashville, Tennessee
        
    #selfie-div.row
      .row
        .col-sm-6
        .col-sm-6.selfie-right
          .technology-icons
            h1 Technologies I love
            .logo
              img(src='assets/angular-logo.png' alt='AngularJS') 
            .logo
              img(src='assets/firebase-logo.png' alt='Firebase') 
            .logo
              img(src='assets/gulp-logo.png' alt='Gulp')
            .logo
              img(src='assets/jade-logo.png' alt='Jade')
            .logo
              img(src='assets/bootstrap-logo.png' alt='Bootstrap')
            .logo
              img(src='assets/sass-logo.png' alt='Sass')
            .logo
              img(src='assets/atom-logo.png' alt='Atom')
            .logo
              img(src='assets/afire-logo.png' alt='AngularFire') 
            .logo
              img(src='' alt='jQuery')
          .social-media-icons
            h1 Where to find me
            .logo
              img(src='assets/github-logo.png' alt='Github')
            .logo
              img(src='' alt='LinkedIn')
            .logo
              img(src='' alt='Twitter')
    
    #carousel-div.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li(data-target='ex1' data-slide-to='0' class='active')
        li(data-target='ex1' data-slide-to='1')
        li(data-target='ex1' data-slide-to='2')
      
      .carousel-inner(role='listbox')
        .item.active
          img(src='assets/chismosas.png' alt='Chismosas Chat App')
          .carousel-caption
            h1 Chismosas
            p website: http://erinpagemd.github.io/chismosas
            p repo: https://github.com/erinpagemd/chismosas
            p stack: javascript, jquery, firebase, json, html, css, bootstrap
            p description: Messaging app with Firebase live reload. Bootstrap for minimal styling.
        .item
          img(src='assets/nerdTree.png' alt='Nerdtree Dating App')
          .carousel-caption
            h1 NerdTree
            p website: http://erinpagemd.github.io/nerd-tree
            p repo: https://github.com/erinpagemd/nerd-tree
            p stack: javascript, lodash, jquery, firebase, json, html, css, bootstrap
            p description: Basic CRUD app with login. Firebase login, create new account, and logout. Using Firebase requests used for retrieving, posting, deleting, and modifying data. Bootstrap for minimal styling.
        .item
          img(src='assets/littleBlackBook.png' alt='LittleBlackBook Address Book App')
          .carousel-caption
            h1 LittleBlackBook
            p website: http://erinpagemd.github.io/little-black-book
            p repo: https://github.com/erinpagemd/little-black-book
            p stack: javascript, jquery, firebase, json, html, css, foundation, mocha, chai, unit-testing
            p description: Basic CRUD app with login. Firebase login, create new account, and logout. GET, POST, DELETE http requests. Foundation for minimal styling. First crack at logins and user flows. Light test suite with mocha and chai.

    #form-div.row
      form.form-horizontal
        h1 Contact Form
        .form-group
          label.col-sm-2.control-label Name
          .col-sm-10
            input.form-control(placeholder='bob smith' type='text')
        .form-group
          label.col-sm-2.control-label Email
          .col-sm-10
            input.form-control(placeholder='bob@aol.com' type='email')
        .form-group
          label.col-sm-2.control-label Phone
          .col-sm-10
            input.form-control(placeholder='867-5309')
        .form-group
          label.col-sm-2.control-label Message
          .col-sm-10
            textarea.form-control(placeholder='send me some awesomeness')
        button.btn.btn-large.btn-info Submit
    
    #footer.row
      .navbar.navbar-inverse
        .container
          ul.nav.navbar-nav
            li: a: i.fa.fa-home &nbsp; Home
            li: a: i.fa.fa-user &nbsp; Contact
            li: a: i.fa.fa-briefcase &nbsp; Experience
            li: a: i.fa.fa-sign-out &nbsp; Portfolio
            li: a: i.fa.fa-sign-out &nbsp; Blog
      
    
    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='vendor/lodash/lodash.js')
    script(src='vendor/firebase/firebase.js')
    script(src='index.js')
