doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='index.css' type='text/css')
    link(rel='shortcut icon' type='image/x-icon' href='assets/Trophy-gold.ico')
    title Erin M Page
  body(ng-app='ErinApp')
    include ./views/nav
    
    div(ui-view)
            
    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='vendor/lodash/lodash.js')
    script(src='vendor/angular/angular.js')
    script(src='vendor/angular-ui-router/release/angular-ui-router.js')
    script(src='index.js')
    script(src='views/carousel.js')
