#carousel-div
  .row
    h1 Projects
    
    .each-project(ng-repeat='project in projects')
      .container-fluid
        img(ng-src="{{project.image}}")
        h2 {{project.name}}
        h3 {{project.stack}}
        h4 {{project.brief}}
        h5 {{project.website}}
        h5 {{project.repo}}
        p {{project.description}}
        p {{project.level}}
    

  //- #hor-div.row.project-div
  //-     h2 Hack Tennessee 7 Project: Human or Robot
  //-         video(loop poster='' autoplay muted)
  //-           source(src='assets/videos/hackTN.mp4' type='video/mp4')
