#carousel-div
  .row
    h1 Projects
    .row
      .img-box(ng-mouseover='hovering.hor=true' ng-mouseleave='hovering.hor=false')
        img(ng-hide='hovering.hor' src='assets/images/hor.png' alt='Hack Tennessee 7 Project')
        a.hovering-info(ng-show='hovering.hor' ng-click='gotoHor()')
          h3 Human or Robot
          h4 Hack Tennessee 7
          h4 AngularJS, Gulp, Bootstrap, Git, Sass, Etc.  
      .img-box
        img(src='assets/appchiever.png' alt='NSS Front End Capstone')
      .img-box
        img(src='assets/chismosas.png' alt='Chismosas Chat App')
      .img-box
        img(src='assets/nerdTree.png' alt='Nerdtree Dating App')
      .img-box
        img(src='assets/littleBlackBook.png' alt='LittleBlackBook Address Book App')
      .img-box
        img(src='assets/battle-sipps.png' alt='Battle Sipps Multi-player Game')
      .img-box
        img(src='assets/game-won.png' alt='Tic Tac Toe Multi-player Game')
      .img-box
        img(src='assets/nash-recycle.png' alt='Nashville Recycle Centers')
  #hor-div.row
    .project-div
      h2 Hack Tennessee 7 Project: Human or Robot
      .row
        .video-container
          video(loop poster='' autoplay muted)
            source(src='assets/videos/hackTN.mp4' type='video/mp4')
      .row
        .col-md-6
          .project-info
            h4 Stack: 
            p angularjs, gulp, jade, bootstrap, git, sass, atom, lodash
          .project-info
            h4 Skill Level: 
            p Intermediate. Responsible for front-end design and development.
        .col-md-6
          .project-info
            h4 Description: 
            p Made over a weekend at Hack Tennessee 7. Team members: John Liu and Dan Burger. Each game is a sample of 5 questions from the database. Player chooses 'human' or 'robot' by clicking on a button. A modal pops open that tells the correct answer and some additional information about the picture. Eventually would like to be saving the choices people make. 
      .row
        .project-info
          h4 Website: 
            a(href='https://hacktennessee7.github.io/HumanOrRobot') https://hacktennessee7.github.io/HumanOrRobot
        .project-info
          h4 Repo: 
            a(href='https://github.com/HackTennessee7/HumanOrRobot') https://github.com/HackTennessee7/HumanOrRobot   
  .row.project-div
    h2 Appchiever
    .row
      .img-container
        img(src='assets/appchiever.png' alt='Chismosas Chat App')
    .row
      .col-md-6
        .project-info
          h4 Stack: 
          p angularjs, firebase, gulp, jade, bootstrap, git, sass, atom, angularFire, lodash
        .project-info  
          h4 Skill Level: 
          p Capstone project for Front-End course at Nashville Software School.
      .col-md-6
        .project-info
          h4 Description: 
          p App for high school students to collect and store their achievements for college applications. Looped a video on the homepage. OAuth with Google. Login with AngularFire Auth Object. CRUD app using AngularFire arrays and objects. Bootstrap for styling and modals. Routing in anguarjs with Angular UI-Router. 
    .row
      .project-info
        h4 Website: 
          a(href='https://appchiever.firebaseapp.com/#/') https://appchiever.firebaseapp.com/#/
      .project-info
        h4 Repo: 
          a(href='https://github.com/erinpagemd/ng-appchiever') https://github.com/erinpagemd/ng-appchiever    
  .row.project-div
    h2 Chismosas
    .row
      .col-md-9
        img(src='assets/chismosas.png' alt='Chismosas Chat App')
      .col-md-3
        h4 Stack: javascript, jquery, firebase, json, html, css, bootstrap
        h4 Description: Messaging app with Firebase live reload. Bootstrap for minimal styling.
        p Skill Level: Chat App assignment during NSS Front-End Course
        p Website: 
          a(href='http://erinpagemd.github.io/chismosas') http://erinpagemd.github.io/chismosas
        p Repo: 
          a(href='https://github.com/erinpagemd/chismosas') https://github.com/erinpagemd/chismosas
  .row.project-div
    h2 NerdTree
    .row
      .col-md-9
        img(src='assets/nerdTree.png' alt='Nerdtree Dating App')
      .col-md-3
        h4 Stack: javascript, lodash, jquery, firebase, json, html, css, bootstrap
        h4 Description: Basic CRUD app with login. Firebase login, create new account, and logout. Using Firebase requests used for retrieving, posting, deleting, and modifying data. Bootstrap for minimal styling.
        p Skill Level: Dating app assignment at NSS Front-End Course
        p Website: 
          a(href='http://erinpagemd.github.io/nerd-tree') http://erinpagemd.github.io/nerd-tree
        p Repo: 
          a(href='https://github.com/erinpagemd/nerd-tree') https://github.com/erinpagemd/nerd-tree
  .row.project-div
    h2 LittleBlackBook 
    .row
      .col-md-9
        img(src='assets/littleBlackBook.png' alt='LittleBlackBook Address Book App')
      .col-md-3
        h4 Stack: javascript, jquery, firebase, json, html, css, foundation, mocha, chai, unit-testing
        h4 Description: Basic CRUD app with login. Firebase login, create new account, and logout. GET, POST, DELETE http requests. Foundation for minimal styling. First crack at logins and user flows. Light test suite with mocha and chai.
        p Skill Level: Address Book assignment during NSS Front-End Course
        p Website: 
          a(href='http://erinpagemd.github.io/little-black-book') http://erinpagemd.github.io/little-black-book
        p Repo: 
          a(href='https://github.com/erinpagemd/little-black-book') https://github.com/erinpagemd/little-black-book
  .row.project-div
    h2 Battle Sipps
    .row
      .col-md-9
        img(src='assets/battle-sipps.png' alt='Battle Sipps Multi-player Game')
      .col-md-3
        h4 Stack: javascript, jquery, lodash, firebase, json, html, css, bootstrap
        h4 Description: 2-player battlehip game using a game object that communicates back and forth with firebase. Play on 2 computers. Paired programming exercise with Brandon Howard, Molly Black, and Dotun Olusoga for Front End Dev session.z
        p Skill Level: Group Assignment for multiplayer game during NSS Front-End Course
        p Website: 
          a(href='https://battlesipps.firebaseapp.com/') https://battlesipps.firebaseapp.com/
        p Repo: 
          a(href='https://github.com/brayhoward/battle-ship') https://github.com/erinpagemd/little-black-book
  .row.project-div
    h2 Game Won
    .row
      .col-md-9
        img(src='assets/game-won.png' alt='Tic Tac Toe Multi-player Game')
      .col-md-3
        h4 Stack: javascript, jquery, firebase, json, html, css, bootstrap
        h4 Description: Tic-Tac-Toe game using a game object that communicates back and forth with firebase. Paired programming exercise with Brandon Howard for Front End Dev session. Used ScreenHero for off-site collaboration.
        p Skill Level: Group Assignment for multiplayer tic-tac-toe game during NSS Front-End Course
        p Website: 
          a(href='https://game-won.firebaseapp.com/') https://game-won.firebaseapp.com/
        p Repo: 
          a(href='https://github.com/brayhoward/game1') https://github.com/brayhoward/game1
  .row.project-div
    h2 Honey Dew
    .row
      .col-md-9
        img(src='assets/honey-dew.png' alt='To-Do App')
      .col-md-3
        h4 Stack: javascript, jquery, firebase, json, html, css, bootstrap, mocha, karma, chai, unit-testing
        h4 Description: Basic CRUD app with login. Firebase login, create new account, and logout. GET, POST, DELETE http requests. Bootstrap for minimal styling. Build script and more advanced config settings. Test suite with mocha, chai, and karma.
        p Skill Level: Personal Project during Front-End NSS Course
        p Website: 
          a(href='http://erinpagemd.github.io/to-do/') http://erinpagemd.github.io/to-do/
        p Repo: 
          a(href='https://github.com/erinpagemd/to-do') https://github.com/erinpagemd/to-do
  .row.project-div
    h2 Stock Market App
    .row
      .col-md-9
        img(src='assets/stock-market.png' alt='Stock Market App')
      .col-md-3
        h4 Stack: javascript, jquery, lodash, firebase, json, html, css, foundation
        h4 Description: v1.0.0 takes the user inputs of stock symbol and quantity, makes a get request to the markitondemand api and updates the dom. Next iteration is saving the portfolio to firebase. Made in NSS class with Allison Higginbotham.
        p Skill Level: Paired Programming project during Front-End Course of NSS
        p Website: 
          a(href='http://higgintop.github.io/stockMarketApp/') http://higgintop.github.io/stockMarketApp/
        p Repo: 
          a(href='https://github.com/higgintop/stockMarketApp') https://github.com/higgintop/stockMarketApp
  .row.project-div
    h2 Nashville Recycle Centers
    .row
      .col-md-9
        img(src='assets/nash-recycle.png' alt='Nashville Recycle Centers')
      .col-md-3
        h4 Stack: javascript, npm, grunt, jquery, lodash, html, jade, css
        h4 Description: Use of the Nashville Open Data Portal. Writing an ajax call and appending to the DOM.
        p Skill Level: Personal project during the beginning of Front-End NSS course.
        p Website: 
          a(href='http://higgintop.github.io/stockMarketApp/') http://higgintop.github.io/stockMarketApp/
        p Repo: 
        a(href='https://github.com/erinpagemd/nash-recycle-centers') https://github.com/erinpagemd/nash-recycle-centers
  .row.project-div
    h2 Push Product
    .row
      .col-md-9
        img(src='assets/push-product.png' alt='Push Product')
      .col-md-3
        h4 Stack: javascript, jquery, html, css, pure
        h4 Description: Pushing items into an empty array in javascript. Use of PureCSS framework, HTML-Form
        p Skill Level: Personal project before NSS to practice javascript methods.Refactored CSS when learning about CSS Frameworks at Nashville Software School.
        p Website: 
          a(href='http://erinpagemd.github.io/PushProduct/') http://erinpagemd.github.io/PushProduct/
        p Repo: 
          a(href='https://github.com/erinpagemd/PushProduct') https://github.com/erinpagemd/PushProduct
