#community-div.row
  .row
    h1 Community Involvement
  .row
    .col-xs-4.volunteer
      h1 Volunteer
      p Barcamp 2013 Volunteer
        .logo
          a(href='http://www.barcampnashville.org/bcn13/'): img(src='assets/barcamp2013-logo.png' alt='Barcamp2013')
      p Barcamp 2014 Planning Crew
        .logo
          a(href='http://www.barcampnashville.org/bcn14/'): img(src='assets/bcn14-logo.png' alt='Barcamp2014')
      p Code for Nashville Storyteller
      .logo
        a(href='http://www.codefornashville.org/'): img(src='assets/cfn-logo.jpg' alt='Code for Nashville')
      p Code Day at WestEnd Middle School Lightening-Talk Speaker
        a(href=''): img(src='' alt='Code Day')

    .col-xs-4.groups
      h1 User Groups
      p NashJS
        .logo
          a(href='http://nashjs.org/'): img(src='assets/nashjs-logo.png' alt='NashJS')
      p PyNash
        .logo
          a(href='http://pynash.org/'): img(src='assets/py-logo.jpeg' alt='PyNash')
      p Agile Nashville
        .logo
          a(href='http://agilenashville.com/'): img(src='assets/agilenashville-logo.png' alt='AgileNashville')
    
    .col-xs-4.hacks
      h1 Hacks
      p HackNashville 4, 5, 6
        .logo
          a(href='http://hacknashville.com/'): img(src='assets/hn-logo.png' alt='HackNashville4')
      p HackForChange 2014
        .logo
          a(href='http://hackforchange.org/'): img(src='assets/ndoch-logo.png' alt='HackForChange2014')
