#community-div.row
  
  .community-main
    .row
      h1 Community Involvement
    .row.community-container
      .col-xs-4.volunteer
        h2 Volunteer
        .logo
          p Barcamp 2013 Volunteer
          a(href='http://www.barcampnashville.org/bcn13/'): img(src='assets/barcamp2013-logo.png' alt='Barcamp2013')           
        .logo
          p Barcamp 2014 Planning Crew
          a(href='http://www.barcampnashville.org/bcn14/'): img(src='assets/bcn14-logo.png' alt='Barcamp2014')
        .logo
          p Code for Nashville Storyteller
          a(href='http://www.codefornashville.org/'): img(src='assets/cfn-logo.jpg' alt='Code for Nashville')
        .logo
          p Young Coders Day at WestEnd Middle School 
          p Lightening-Talk Speaker 2014 (Background Picture)
      .col-xs-4.groups
        h2 User Groups
        .logo
          p NashJS
          a(href='http://nashjs.org/'): img(src='assets/nashjs-logo.png' alt='NashJS')
        .logo
          p PyNash
          a(href='http://pynash.org/'): img(src='assets/py-logo.jpeg' alt='PyNash')
        .logo
          p Agile Nashville
          a(href='http://agilenashville.com/'): img(src='assets/agilenashville-logo.png' alt='AgileNashville')
      .col-xs-4.hacks
        h2 Hacks
        .logo
          p HackNashville 4, 5, 6
          a(href='http://hacknashville.com/'): img(src='assets/hn-logo.png' alt='HackNashville4')
        .logo
          p HackForChange 2014
          a(href='http://hackforchange.org/'): img(src='assets/ndoch-logo.png' alt='HackForChange2014')
        .logo
          p Hack Tennessee 7
          a(href='http://hacktennessee.com/'): img(src='assets/logos/hacktn.png' alt='HackTennessee')
  //- .community-minor
  //-   video(controls)
  //-     source(src='assets/videos/keaton_hacktn7_pitch.mp4' type='video/mp4')
  //- .community-minor
  //-   img(src='assets/images/bcn14.jpg' height=200 width=400)
  //- .community-minor
  //-   img(src='assets/images/women_programmers.jpeg' height=200 width=200)
  //- .community-minor
  //-   h1 video? from nodebots
  //- .community-minor
  //-   img(src='assets/images/ggd.jpg-large' height=200 width=200)
  //- .community-minor
  //-   h1 robotics
  
  
