#community-div.row
  
  .community-main
    .row
      h1.label-main Community Involvement
    
  .container-fluid
    .col-md-1
    .col-md-10
      .row
        .col-md-4
          #bcn13.image-div
            p.image-text.standard-height Barcamp 2013 Volunteer
        .col-md-4
          #cfn.image-div
            p.image-text.standard-height Code for Nashville Storyteller
        .col-md-4
          #women.image-div
            p.image-text.standard-height Nashville Women Programmers
      .row
        #bcn14.image-div
          p.image-text Barcamp 2014 Planning Crew
      .row
        .col-md-4
          #nashjs.image-div
            p.image-text.standard-height NashJS
        .col-md-4
          #agile.image-div
            p.image-text.standard-height Agile Nashville
        .col-md-4
          #pynash.image-div
            p.image-text.standard-height PyNash
      .row
        .col-md-6
          #hacknash4.image-div
            p.image-text Hack Nashville 4
        .col-md-6
          #hacknash5.image-div
            p.image-text Hack Nashville 5  
      .row
        .col-md-6
          #hacknash6.image-div
            p.image-text Hack Nashville 6
        .col-md-6
          #hacktn.image-div
            p.image-text Hack Tennessee 7
      .row
        #rorbeg.image-div
          p.image-text Nashville Ruby on Rails Beginners
      .row
        .col-md-4      
          #ndoch.image-div
            p.image-text.standard-height Hack For Change 2014
        .col-md-4
          #ggd.image-div
            p.image-text.standard-height Girl Geek Dinners
        .col-md-4
          #robotics.image-div
            p.image-text.standard-height WestEnd Robitics
      .row    
        #young-coders.image-div
          p.image-text Young Coders Day 2014

    .col-md-1
