#community-div.row
  
  .community-main
    .row
      h1.label-main Community Involvement
    
  .container-fluid
    .row
      h2.label-div Volunteer
    .row
      #bcn13.each
        p.image-text Barcamp 2013 Volunteer
      #bcn14.each
        p.image-text Barcamp 2014 Planning Crew
      #cfn.each
        p.image-text Code for Nashville Storyteller
      .each 
        p.image-text WestEnd Robitics      
      .hacknash.each
        p.image-text Hack Nashville 6
      .hacktn.each
        p.image-text Hack Tennessee 7
      #young-coders.each
        p.image-text Young Coders Day at WestEnd Middle School 2014

  .container-fluid
    .row
      h2.label-div User Groups
    .row
      #agile.each
        p.image-text Agile Nashville
      .each
        p.image-text Girl Geek Dinners
      .each
        p.image-text Nashville MongoDB
      #women.each
        p.image-text Nashville Women Programmers
      .each
        p.image-text Nashville Ruby on Rails Beginners
      .each
        p.image-text Code User Group Leadership
      #nashjs.each
        p.image-text NashJS
      #pynash.each
        p.image-text PyNash

  .container-fluid
    .row
      h2.label-div Hacks
    .row
      .hacknash.each
        p.image-text Hack Nashville 4
      .hacknash.each
        p.image-text Hack Nashville 5
      .hacknash.each
        p.image-text Hack Nashville 6

      #ndoch.each
        p.image-text Hack For Change 2014
      .hacktn.each
        p.image-text Hack Tennessee 7
//- .community-minor
//-   video(controls)
//-     source(src='assets/videos/keaton_hacktn7_pitch.mp4' type='video/mp4')
//- .community-minor
//-   img(src='assets/images/ggd.jpg-large' height=200 width=200)
