#community-div.row
  .row
    h1 Community Involvement
  .row
    .col-xs-4.volunteer
      h1 Volunteer
      p Barcamp 2013 Volunteer
        .logo
          a(href='http://www.barcampnashville.org/bcn13/'): img(src='assets/barcamp2013-logo.png' alt='Barcamp2013')
      p Barcamp 2014 Planning Crew
        .logo
          a(href='http://www.barcampnashville.org/bcn14/'): img(src='assets/bcn14-logo.png' alt='Barcamp2014')
      p Code for Nashville Storyteller
      .logo
        a(href='http://www.codefornashville.org/'): img(src='assets/cfn-logo.jpg' alt='Code for Nashville')

    .col-xs-4.groups
      h1 User Groups
      p NashJS
        .logo
          img(src='' alt='NashJS')
      p PyNash
        .logo
          img(src='' alt='PyNash')
    
    .col-xs-4.hacks
      h1 Hacks
      p HackNashville 4
        .logo
          img(src='' alt='HackNashville4')
      p HackNashville 5
        .logo
          img(src='' alt='HackNashville5')
      p HackNashville 6
        .logo
          img(src='' alt='HackNashville6')
      p HackForChange 2014
        .logo
          img(src='' alt='HackForChange2014')
