#form-div.row
  form.form-horizontal(action="https://getsimpleform.com/messages?form_api_token=72f8930ca5f561ce04adf9b271276041" method="post")
    h1 Contact Form
    .form-group
      label.col-sm-2.control-label Name
      .col-sm-10
        input#name.form-control(placeholder='bob smith' type='text' name='name')
    .form-group
      label.col-sm-2.control-label Email
      .col-sm-10
        input#email.form-control(placeholder='bob@aol.com' type='email' name='email')
    .form-group
      label.col-sm-2.control-label Phone
      .col-sm-10
        input#phone.form-control(placeholder='867-5309' name='phone')
    .form-group
      label.col-sm-2.control-label Message
      .col-sm-10
        textarea#message.form-control(placeholder='send me some awesomeness' name='message')
    button#submit-form.btn.btn-large.btn-info(type='submit' value='Test Form') Submit
