.nav-container
  nav.navbar.navbar-inverse.navbar-fixed-top
   .container-fluid
     .navbar-header
       button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
         span.sr-only Toggle navigation
         span.icon-bar
         span.icon-bar
         span.icon-bar
       a.navbar-brand(ui-sref='home'): i.fa.fa-trophy &nbsp Erin M Page
     #navbar.collapse.navbar-collapse
       ul.nav.navbar-nav.navbar-right
         li: a: i.fa.fa-home &nbsp; Home
         li: a: i.fa.fa-user &nbsp; Contact
         li: a: i.fa.fa-briefcase &nbsp; Experience
         li: a: i.fa.fa-sign-out &nbsp; Portfolio
         li: a: i.fa.fa-sign-out &nbsp; Blog
