#selfie-div.row
  .row
    .col-sm-6
    .col-sm-6.selfie-right
      .technology-icons
        h1 Technologies I love
        .logo
          a(href='https://angularjs.org/'): img(src='assets/angular-logo.png' alt='AngularJS') 
        .logo
          a(href='https://www.firebase.com/'): img(src='assets/firebase-logo.png' alt='Firebase') 
        .logo
          a(href='http://gulpjs.com/'): img(src='assets/gulp-logo.png' alt='Gulp')
        .logo
          a(href='http://jade-lang.com/'): img(src='assets/jade-logo.png' alt='Jade')
        .logo
          a(href='http://getbootstrap.com/'): img(src='assets/bootstrap-logo.png' alt='Bootstrap')
        .logo
          a(href='http://sass-lang.com/'): img(src='assets/sass-logo.png' alt='Sass')
        .logo
          a(href='https://atom.io/'): img(src='assets/atom-logo.png' alt='Atom')
        .logo
          a(href='https://www.firebase.com/docs/web/libraries/angular/'): img(src='assets/afire-logo.png' alt='AngularFire') 
        .logo
          a(href='http://jquery.com/'): img(src='assets/jquery-logo.png' alt='jQuery')
      .social-media-icons
        h1 Where to find me
        .logo
          a(href='https://github.com/erinpagemd'): img(src='assets/github-logo.png' alt='Github')
        .logo
          a(href='https://www.linkedin.com/in/erinpagemd'): img(src='assets/linkedin-logo.png' alt='LinkedIn')
        .logo
          a(href='https://twitter.com/erinmpage'): img(src='assets/twitter-logo.png' alt='Twitter')
