#title-div.row
  .video-container
    .jumbotron
      h1 Erin M Page  
      h2 Web Application Engineer | Nashville, Tennessee
    
    video(loop poster='' autoplay muted)
      source(src='assets/appchiever_add-view.mp4' type='video/mp4')

  .row.minor-div
    h1 Hi! I'm Erin. I make web pages and stuff.
  .row.minor-div
    button.btn.btn-success.btn-lg Check out my portfolio
    button.btn.btn-info.btn-lg See me in action in the community
    button.btn.btn-warning.btn-lg Get in touch with me
    
