#title-div.row
  .major-div
    .jumbotron
      h1 Erin M Page  
      h2 Web Application Engineer | Nashville, Tennessee    
  .row.video-div
    .col-md-6.video-container
      video(loop poster='' autoplay muted)
        source(src='assets/videos/appchiever_add-view.mp4' type='video/mp4')
    .col-md-6.video-minor
      h1 Hi! I'm Erin. 
      h2 I make web pages and stuff.
  .row.minor-div
    button.btn.btn-success.btn-lg Check out my portfolio
    button.btn.btn-info.btn-lg See me in action in the community
    button.btn.btn-warning.btn-lg Get in touch with me
    
